<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create new listing</h3>
      <form action="/listings" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            class="form-control"
            placeholder="Add a catchy title"
          />
        </div>
    
        <div class="mb-3">
          <label for="description" class="form-label">Enter Description</label>
          <textarea
            name="listing[description]"
            placeholder="Enter description"
            class="form-control"
          ></textarea>
        </div>
    
        <div class="mb-3">
          <label for="image" class="form-label">Image Image</label>
          <input
            type="text"
            name="listing[image]"
            class="form-control"
            placeholder="Enter image URL/link"
          />
        </div>
    
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              class="form-control"
              placeholder="1200"
            />
          </div>
      
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              placeholder="India"
            />
          </div>
        </div>
    
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            placeholder="Jaipur, Rajasthan"
          />
        </div>
    
        <button type="submit" class="btn red-btn">Add to Listings</button>
      </form>
    </div>
  </div>
</body>
